<h2>Hi <%= @user.name %>!</h2>
<br>
<h3> Bills Dashboard</h3>


<% if @bills.empty? %>
  <p>You have no bills.</p>
<% else %>
	<% @bills.each do |bill| %>
		<p>
			<b><%= bill.created_at.to_time.strftime('%B %e at %l:%M %p') %>:</b> Bill <%= bill.id %>
		  <%= link_to "#{ bill.name }", bill_url(bill) %> <%= link_to "Edit Bill #{bill.id}", edit_bill_url(bill), :class => "btn btn-warning" %> 
	  </p>
	<% end %>
<% end %>


<br>
<br>
<h3>Find Friends</h3>
<textarea>Input friend email</textarea>
<button class="btn btn-primary">Send Friend Request</button>

<p><%= link_to "Return to Index Page", root_url %></p>
<% if logged_in? %>
	<p><%= button_to "Log out", session_url, :method => "delete", class: "btn btn-danger" %></p>
<% end %>